body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    min-height: 100vh;
}

.header{
    background: #1F2937;
}

.forehead{
    display:flex;
    justify-content: space-between;
    padding: 6px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.right-links{
    display:flex;
    gap:16px;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-meat{
    display: flex;

}

img{
    width: 100%;
    height:auto;
}

.header-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.header-subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

