body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.header{
    background: #1F2937;
}

.forehead{
    display:flex;
    justify-content: space-between;
    padding: 6px
}
.header-logo{
    color: #F9FAF8;
    margin-left: 50px;
    max-width: 70px
}

.right-links{
    display:flex;
    gap:16px;
    list-style: none;
    margin-right: 50px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-meat{
    display: flex;
    padding:50px 0 50px;
    justify-content: center;
}

.header-main{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    width:500px;
}

.tree{
    width: 400px;
}
img{
    max-width: 100%;
    height:auto;
}

.header-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.header-subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.header-button{
    margin-right: auto;
    margin-top: 10px;
}

.header-button button{
    border: none;
    color: white;
    background-color: #3882F6;
    display: inline-block;
    padding: 15px 32px;
    font-weight: bold;
    border-radius:16px;
}

.rando{
    font-size: 36px;
    font-weight:900;
    color:#1F2937;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding:20px
}

.upper-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    max-width: 240px;
}

.allphoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cardt{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 8px;
}

.midbod{
    background-color: #E5E7EB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;  
}

.inspire{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.credit{
    margin-left: auto;
}

.botbod{
    background-color:#3882F6;
    margin-left: 400px;
    margin-right:400px;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.botmeat{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 25px;
}

.calls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call{
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.subcall{
    font-size: 18px;
    color:#E5E7EB;
}

.subbutton button{
    border-color: white;
    color: white;
    background-color: #3882F6;
    display: inline-block;
    padding: 15px 32px;
    font-weight: bold;
    border-radius:16px;
}

.footer{
    background-color: #1F2937;
    color:#F9FAF8;
}

.copyright{
    display: flex;
    justify-content: center;
    padding: 25px;
}